{% extends 'base.html' %}
{% load humanize %}

{% block extra-css %}
<style type="text/css">
    .bar {
        height: 30px;
        display:inline-block;
        float:left;
        margin:1px 0;
    }
    .oppose {
        background: red;

    }
    .support {
        background: #0BA462;
    }
    .bar-label {
        display:inline-block;
        float:left;
        margin: 6px 0 0 6px;
    }
    .bar-container {
        clear:both;
    }
    .clear {
        clear:both;
    }
    h1 { color:pink;
        font-size: 75px;
        text-shadow: 0 -2px 0 rgba(0, 0, 0, 0.25);
    }
    h2 {
        text-transform:uppercase;
        border-bottom-style:dashed;
        border-bottom-color:pink;
    }
    th {
        text-transform:uppercase;
        color:pink;
        text-decoration: underline;
    }
.progress {
  height: 25px;
      font-size:35px;
}

.bar{
    font-size:20px !important;
    line-height: 25px;
    color:#000 !important;
}
span .bar{
    font-size:35px;
    line-height: 25px;
    color:#ccc;
}
a {
   color:#000; 
}
a:hover {
    color:pink;
}

</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Contribution Data</h1>
    </div>


    <div class="nav nav-tabs" style="height:auto;">
      <ul id="myTab" class="nav nav-tabs">
        <li class="active"><a href="#home" data-toggle="tab">Money by Contributor: Top 10</a></li>
        <li class=""><a href="#profile" data-toggle="tab">Money to Committees: Top 10</a></li>
         <li class=""><a href="#zip" data-toggle="tab">Money from Zip Codes: Top 10</a></li>
          </ul>
        </li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="home">
          <h2>Money by contributor</h2>
<div class="row">
    <div class="span7">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Amount</th>
              
            </tr>
        </thead>
        <tbody>
            {% for num,i in contributors %}
            <tr>
                <td>{{ num }}. {{ i.clean_name }}</td>
                <td>${{ i.contribs|intcomma }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table></div>
    <div class="span5">
        <div id="myfirstchart" style="height: 400px;"></div></div></div>
        </div>

        <div id="profile" class="tab-pane fade">
          <h2>Money to Committees</h2>
             <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Committee</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for num,i in contributors3 %}
            <tr>
                <td>{{ num }}. {{ i.clean_name }}</td>
                <td>{{ i.committee__name }}</td>
                <td>${{ i.contribs|intcomma }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        </div>
         <div id="zip" class="tab-pane fade">
          <h2>Money by contributor</h2>
<div class="row">
    <div class="span5">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Zip Code</th>
              
            </tr>
        </thead>
        <tbody>
            {% for num,i in zippies %}
            <tr>
                <td>{{ num }}. {{ i.zip_code }}</td>
                <td>${{ i.contribs|intcomma }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table></div>
    <div class="span6 offset1" style="align:center;">
        <div id="mysecondchart" style="align:center;height: 365px;width:350px;"></div>        </div>

  </div></div>

         

        <h2>Money by Prop</h2>
    
    {% for i in summary_data %}
    <h3>Prop. {{ i.prop }} : {{ i.short_name }}</h3>
    <div class="progress progress-success progress-striped active" >
        <span class="bar support" style="width:{% widthratio i.support max_value 800 %}px;height:100px" >${{ i.support|intcomma }}</span>
       
    </div>
    <div class="progress progress-danger progress-striped">
        <span class="bar oppose" style="width:{% widthratio i.oppose max_value 800 %}px;height:100px">${{ i.oppose|intcomma }}</span>
    </div>
    <div class="clear"></div>
    {% endfor %}
</div>

<script>
new Morris.Donut({
  // ID of the element in which to draw the chart.
  element: 'myfirstchart',
  // Chart data records -- each entry in this array corresponds to a point on
  // the chart.
  data: {{ moolahcontribs|safe }},
  backgroundColor: '#fff',
  labelColor: '#000',
  colors: [
    '#0BA462',
    '#ffaeb9',
    '#39B580',
    '#ffb6c1',
    '#67C69D',
    'pink',
    '#95D7BB'
  ],
  // The name of the data record attribute that contains x-values.
  xkey: 'label',
  // A list of names of data record attributes that contain y-values.
  ykeys: ['value'],
  // Labels for the ykeys -- will be displayed when you hover over the
  // chart.
  labels: ['Value']
});

  $(function () {
    $('#myTab a:last').tab('show')
  })

</script>
<script>
new Morris.Donut({
  // ID of the element in which to draw the chart.
  element: 'mysecondchart',
  // Chart data records -- each entry in this array corresponds to a point on
  // the chart.
  data: {{ zip_data|safe }},
  backgroundColor: '#fff',
  labelColor: '#000',
  colors: [
    '#0BA462',
    '#ffaeb9',
    '#39B580',
    '#ffb6c1',
    '#67C69D',
    'pink',
    '#95D7BB'
  ],
  // The name of the data record attribute that contains x-values.
  xkey: 'label',
  // A list of names of data record attributes that contain y-values.
  ykeys: ['value'],
  // Labels for the ykeys -- will be displayed when you hover over the
  // chart.
  labels: ['Value']
});
</script>
{% endblock %}

